.log-in-page__form .form__login-input-field {
  color: black;
  font-size: 20px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  background: white;
  padding: 7px;
  width: 300px;
  border: 2px solid black;
  outline: none;
  border-radius: 5px;
  margin-left: 10px;
}

.log-in-page__form .form__password-input-field {
  color: black;
  font-size: 20px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  background: white;
  padding: 7px;
  width: 300px;
  border: 2px solid black;
  outline: none;
  border-radius: 5px;
  margin-left: 10px;
}

.log-in-page__form .form__log-in-button {
  color: black;
  font-size: 20px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  padding: 7px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: 200px;
}

.log-in-page__link-to-sign-up-page {
  color: blueviolet;
  cursor: pointer;
}

.log-in-page__message-box {
  color: red;
}
