div(class='main-menu-page', hidden)
    h2 Main Menu Page
    form(class="main-menu-page__form")
        input(type="button", value="Single player", class="form__single-player-game-button")
        div(class="vertical-space")
        input(type="button", value="Multiplayer", class="form__multiplayer-game-button")
        div(class="vertical-space")
        input(type="button", value="Game rules", class="form__game-rules-button")
        div(class="vertical-space")
        input(type="button", value="About authors", class="form__about-authors-button")
        div(class="vertical-space")