div(class='sign-up-page', hidden)
    h2 Sign Up Page
    form(class="sign-up-page__form")
        span Login
        br
        input(type="text", spellcheck ="false", autocomplete="off", maxlength="10", class="form__login-input-field", placeholder="Alex")
        div(class="vertical-space")
        span Password
        br
        input(type="password", spellcheck="false", autocomplete ="off", maxlength ="10", class="form__password-input-field", placeholder="secret123")
        div(class ="vertical-space")
        input(type="button", value="Sign Up", class="form__sign-up-button")
        div(class="vertical-space")
    span(class="sign-up-page__link-to-log-in-page") Log In Page
    div(class="vertical-space")
    div(class="sign-up-page__message-box")
    div(class="vertical-space")