body {
    color: black;
    font-size: 20px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background: cornflowerblue;
}

.center-box {
    margin: 0 auto;
    width: 900px;
    padding: 30px;
    background: white;
    border-radius: 10px;
}

.vertical-space {
    padding-top: 25px;
}
